:root {
  --primary-color: rgb(77,93,87);
  --secondary-color: rgb(238,207,73);
  --gray1-color: rgb(51,51,51);
  --gray2-color: rgb(102,102,102);
  --gray3-color: rgb(153,153,153);
  --gray4-color: rgb(204,204,204);

  --brand-color-sky-blue: #8ECAE6;
  --brand-color-blue-green: #219EBC;
  --brand-color-prussian-blue: #023047;
  --brand-color-selective-yellow: #FFB703;
  --brand-color-ut-orange: #FB8500;

  --radius: 0;
  --max-width: 1280px;

  /*
  --dev-outline-line: 2px;
  --dev-outline-1:red;
  --dev-outline-2:blue;
  --dev-outline-3: green;
  */
}

*, 
*::before, 
*::after { 
  box-sizing: border-box;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--gray1-color);
}
body {
  height: 100%;
  min-height: 100vh;

  background-color: white;
  font-family: 'Courier New', Courier, monospace;

  display: flex;
  flex-direction: column;
}
/* ---------- Flex Containers ---------- */
.flex-container-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-container-row-reverse {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
}
.flex-container-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.flex-item {
  flex: 1;
}
/* ---------- Navbar ---------- */
#navbar {
  height: auto;
  width: 100%;
  background-color: var(--gray1-color);
  
  border: var(--dev-outline-line) solid var(--dev-outline-1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* ---------- Logo ---------- */
#logo-container {
  margin: 0 5px;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.logo {
  font-size: 3.5rem;
  margin: .25rem .25rem;
  color: var(--gray1-color);
  transition: all 200ms ease-in;
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
.logo:hover {
  color: white;
}
/* ---------- Navbar List ---------- */
.navbar-links {
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.navbar-links ul {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}
.navbar-links li {
  border: var(--dev-outline-line) solid var(--dev-outline-3);

  list-style: none;
  transition: all 200ms ease-in;
}
.navbar-links li a {
  text-decoration: none;
  color: var(--gray4-color);
  padding: 1rem;
  display: block;

  font-size: 1.75rem;
  font-weight: bold;

  transition: all 200ms ease-in;
}
.navbar-links li a:hover {
  color: #FB8500;
}
/* ---------- Nav Toggle ---------- */
.toggle-button {
  position: absolute;
  top: 1.20rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: calc(30px * 1.25);
  height: calc(21px * 1.25);
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--gray4-color);
  border-radius: 10px;
}
@media only screen and (max-width: 770px)
{
  .toggle-button {
    display:flex;
  }
  .navbar-links {
    display:none;
    width: 100%;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;  
  }
  .navbar-links ul {
    width: 100%; 
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
    width: 100%;

    border: var(--dev-outline-line) solid var(--dev-outline-3);
  }
  .navbar-links li:hover {
    background-color: var(--gray2-color);
  }
  .navbar-links li a {

    font-size: 1.5rem;
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
/* ---------- Button ---------- */
.btn-primary {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;

  color: white;
  background-color: var(--gray1-color);

  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 2.5%;

  cursor: pointer;
  transition: all 200ms ease-in;
}
.btn-primary:hover {
  background-color: var(--brand-color-ut-orange)
}
/* ---------- Jumbotron ---------- */
#jumbotron {
  width: auto;
  height: 800px;

  border-radius:var(--radius);

  background-image: url(assets/jumbotron-img.jpg);
  background-size: cover;
  background-position: center;
  
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/* ---------- Jumbotron - Welcome Message & Photo Container ---------- */
#profile-container {
  align-items: center;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#profile-name-container {
  padding: 5px;

  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
#welcome-text {
  text-align: center;

  font-size: 3rem;
  color: white;
  
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
#profile-image-container {
  padding: 5px;
  border: var(--dev-outline-line) solid var(--dev-outline-3);
  justify-content: center;
}
#profile-image-circle {
  width: 250px;
  height: 250px;

  border-radius: 50%;
  border: var(--dev-outline-line) solid var(--dev-outline-1);

  background-image: url(assets/profile-pic-1.jpg);
  background-size: cover;
  background-position: center;
}
/* ---------- Jumbotron - Title Roles Container ---------- */
#title-roles-container {
  margin: 25px 0;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#title-roles {
  text-align: center;
  align-items: center;
  list-style-type: none;

  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
#title-roles li {
  display: inline-block;
  margin-right: 7px;
  margin-left: 7px;

  color: white;
  font-size: 1.25rem;
  font-weight: bold;

  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
.title-emoji {
  font-size: 1.35rem;
}
/* ---------- Jumbotron - Social Media Icons Container ---------- */
#icons-link-container {
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#icons-link {
  text-align: center;
  list-style-type: none;
}
#icons-link li {
  display: inline-block;
  margin: 0 5px;
}
.icon {
  color: white;
  font-size: 50px;
}
.icon:hover {
  opacity: 75%;
}
/* ---------- Main ---------- */
#content {
  flex-grow:1;
  display: flex;
  justify-content: center;
}
#content-container {
  max-width: var(--max-width);
  background-color: white;

  padding: 0 1rem;

  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/* ---------- Section Attributes ---------- */
.section-container {
  margin: 2rem 0;
  padding: 1rem 0;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.section-title-heading {
  padding: 1rem 0;
  text-align: center;

  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/* ---------- About ---------- */
.about-row {
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
.about-column {
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
#about-main-text {
  padding: 1rem;
  text-align:justify;

  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/* ---------- About Text Container ---------- */
.about-text-container {
  align-items: center;
}
.about-text {
  padding: 1rem;
  text-align: justify;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
/* ---------- About Image Container ---------- */
.about-image-container {
  max-width: calc(var(--max-width)/ 3.33);

  width: auto;
  height: auto;

  padding: .5%;


  border-radius: 1%;
  border: 2px solid var(--gray4-color);
}
.about-image {
  height: 100%;
  width: 100%;

  /* filter:grayscale(1); */
  
  border-radius: 1%;
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
@media only screen and (max-width: 770px) {
  #about-row-2 {
    flex-direction: column-reverse;
    align-items: center;
  }
  #about-row-3 {
    flex-direction: column;
    align-items: center;
  }
  .about-image-container {
    max-width: 770px;
  }
}

/* ---------- Projects ---------- */

/* ---------- Project Container Per Row ---------- */
.project-container {
  margin-bottom: 0;
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
/* ---------- Each Project Container ---------- */
.project {
  margin: 2rem;
  padding: 2rem;

  border-radius: 2.5%;

  border: 2px dashed var(--brand-color-prussian-blue);
  /*
  border: var(--dev-outline-line) solid var(--dev-outline-1);
  */
}

/*
#project-8 {
  border: 0px solid white;
}

#project-1,#project-4,#project-5,#project8 {
  background-color: #ccc;
}
*/

/* ---------- Project Image Container ---------- */
.project-image-container {
  max-width: 270px;
  width: auto;
  height: auto;

  margin: auto;

  border: var(--dev-outline-line) solid var(--dev-outline-2);

  border: 1px solid black;
}
.project-image {
  height: 100%;
  width: 100%;

  object-fit: cover;
  /*
  border-radius: 5%;
  */
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/* ---------- Project Text ---------- */
.project-title {
  text-align: center;
  margin-top: 1rem;
}
.project-description {
  text-align: center;
  font-style: oblique;
}
.project-sub-detail {
  text-align: left;
}
.project-button {
  gap: 1rem;
}
/* ---------- Project Mobile ---------- */
@media only screen and (max-width: 770px) {
  .project-container {
    flex-direction: column;
  }
  .project-odd {
    margin-bottom: 0rem;
    margin-right:0;
  }
  .project-even {
    margin-left:0;
  }
  .project {
    margin: 1rem 0;
    padding: 1.5rem;
  }
}
/* Styles for the contact form */
form label {
  display: block;
  margin-bottom: 5px;
}
form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* ---------- Footer ---------- */
footer {
  color: white;
  background-color: var(--gray1-color);
}
#footer-container {
  padding: 1rem;

  border-radius:var(--radius);
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
#footer-left{
  justify-content: left;
  align-items: end;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#footer-left p {
  text-align: center;
  border: 2px solid var(--dev-outline-3);
}
#footer-right {
  text-align: right;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
@media only screen and (max-width: 770px) {
  #footer-container {
    flex-direction:column-reverse;
  }
  #footer-left {
    justify-content: center; 
    border: var(--dev-outline-line) solid var(--dev-outline-2);
  }
  #footer-left p {
    text-align: center;
    border: var(--dev-outline-line) solid var(--dev-outline-3);
  }
  #footer-right {
    text-align: center;
    border: var(--dev-outline-line) solid var(--dev-outline-2);
  }
}
/* ---------- Others ---------- */
p {
  line-height: 2rem;
}

/* ---------- Divider ---------- */
.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc; /* Change this to the desired color */
  margin: 10px 0; /* Adjust margin as needed */
}
.divider-thick {
  width: 100%;
  height: 3px;
  background-color: black; /* Change this to the desired color */
  margin: 20px 0; /* Adjust margin as needed */
  opacity: 25%;
}
.divider-white {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 10px auto; /* Adjust margin as needed */

  opacity: 30%;
}
.divider-dashed {
  width: 100%;
  height: 0;
  border-top: 3px dashed var(--gray4-color); /* Adjust thickness and color as needed */
  margin: 20px 0; /* Add spacing above and below the divider */
}
