:root {
  --primary-color: rgb(77,93,87);
  --secondary-color: rgb(238,207,73);
  --gray1-color: rgb(51,51,51);
  --gray2-color: rgb(102,102,102);
  --gray3-color: rgb(153,153,153);
  --gray4-color: rgb(204,204,204);
  --background-theme-color: rgb(51,51,51);
  --background-body: rgb(237,239,238);

  --brand-color-sky-blue: #8ECAE6;
  --brand-color-blue-green: #219EBC;
  --brand-color-prussian-blue: #023047;
  --brand-color-selective-yellow: #FFB703;
  --brand-color-ut-orange: #FB8500;

  --radius: 0;
  /*
  --dev-outline-line: 2px;
  --dev-outline-1:red;
  --dev-outline-2:green;
  --dev-outline-3:blue;
  --dev-outline-4:black;
  */
}

*, 
*::before, 
*::after { 
  box-sizing: border-box;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--gray1-color);
}
body {
  height: 100%;
  min-height: 100vh;

  background-color: white;
  font-family: 'Courier New', Courier, monospace;

  display: flex;
  flex-direction: column;
}
/* ---------- FLEX CLASS ---------- */
.flex-container-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.flex-container-row-reverse {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
}
.flex-container-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.flex-item {
  flex: 1;
}
/* ---------- Navbar ---------- */
#navbar {
  height: auto;
  width: 100%;
  background-color: var(--gray1-color);
  border: var(--dev-outline-line) solid var(--dev-outline-1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* ---------- Logo ---------- */
.logo {
  font-size: 50px;
  margin: 1rem 1rem;
  color: var(--gray1-color);
  transition: all 200ms ease-in;
}
#logo-container {
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.logo:hover {
  color: white;
}
/* ---------- Navbar List ---------- */
.navbar-list {
/*
display: flex;
border: var(--dev-outline-line) solid var(--dev-outline-2);
font-weight: bold;
margin: 0;
padding: 1rem 0;

border-radius: var(--radius);
justify-content:end;
align-items: center;
margin: .5rem 1.5rem;
*/
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}

.navbar-list ul {
  margin: 0;
  padding: 0;
  display: flex;

  align-items: center;
}
.navbar-list li {
  list-style: none;
}
.navbar-list li a {
  text-decoration: none;
  color: var(--gray4-color);
  padding: 1rem;
  display: block;

  font-size: 1.25rem;
  font-weight: bold;

  transition: all 200ms ease-in;
}
.navbar-list li a:hover {
  color: #FB8500;
}

/* ---------- Nav Toggle ---------- */
.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: calc(30px * 1.25);
  height: calc(21px * 1.25);
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--gray4-color);
  border-radius: 10px;
}
@media only screen and (max-width: 512px)
{
  .toggle-button {
    display:flex;
  }

  .navbar-list {
    display:none;
    width: 100%;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;  
  }
  .navbar-list ul {
    width: 100%; 
    flex-direction: column;
  }
  .navbar-list li {
    text-align: center;
  }
  .navbar-list li a {
    padding: .5rem 1rem;
  }
  .navbar-list.active {
    display: flex;
  }
}


.btn-primary {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;

  color: white;
  background-color: var(--gray2-color);

  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius:var(--radius);

  cursor: pointer;
  transition: all 200ms ease-in;
}
.btn-primary:hover {
  background-color: var(--brand-color-ut-orange)
}
/* ---------- Jumbotron ---------- */
#jumbotron {
  width: auto;
  height: 800px;

  border-radius:var(--radius);

  background-image: url(assets/jumbotron-img.jpg);
  background-size: cover;
  background-position: center;
}
/* ---------- Jumbotron - Welcome Message & Photo Container ---------- */
#profile-container {
  align-items: center;
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
#profile-name-container {
  padding: 5px;
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#welcome-text {
  text-align: center;
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
#profile-image-container {
  padding: 5px;
  border: var(--dev-outline-line) solid var(--dev-outline-2);
  justify-content: center;
}
#profile-image-circle {
width: 250px;
height: 250px;

border-radius: 50%;
border: var(--dev-outline-line) solid var(--dev-outline-3);

background-image: url(assets/profile-pic-1.jpg);
background-size: cover;
background-position: center;
}
/* ---------- Jumbotron - Title Roles Container ---------- */
#title-roles-container {
border: var(--dev-outline-line) solid var(--dev-outline-1);
align-items: center;

color: white;
font-weight: bold;
}
#title-roles {
border: var(--dev-outline-line) solid var(--dev-outline-2);
text-align: center;
align-items: center;
list-style-type: none;
margin: 20px 0;
}
#title-roles li {
display: inline-block;
margin-right: 5px;
margin-left: 5px;
}
/* ---------- Jumbotron - Social Media Icons Container ---------- */
#icons-link-container {
border: var(--dev-outline-line) solid var(--dev-outline-1);
}
#icons-link {
text-align: center;
list-style-type: none;
}
#icons-link li {
display: inline-block;
margin: 0 5px;
}
.icon {
color: white;
font-size: 50px;
text-shadow: 0px 0px 20px clear;
}
/* ---------- Main ---------- */
#content {
  flex-grow:1;
  display: flex;
  justify-content: center;
}
#content-background {
  border: var(--dev-outline-line) solid var(--dev-outline-1);
  max-width: 1280px;
  background-color: white;
  padding: 2rem;
}
/* ---------- About ---------- */
#about {
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
/* ---------- Projects ---------- */
#project {
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.project-container {
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
.project {
  border: var(--dev-outline-line) solid var(--dev-outline-4);
}

/* Styles for the sections */
section {
  padding: 0;
}

section h2 {
  margin-bottom: 20px;
}

/* Styles for the projects section */
.project {
  margin-bottom: 0;
}

.project h3 {
margin-bottom: 10px;
}

/* Styles for the contact form */
form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* --- */

h1 {
font-size: 3rem;
color: white;
}
/* ---------- Footer ---------- */
footer {
color: white;
background-color: var(--gray1-color);
}
#footer-background {
padding: 1rem;

border-radius:var(--radius);

border: var(--dev-outline-line) solid var(--dev-outline-1);
}
@media only screen and (max-width: 1024px) {
.project{
  min-width: 512px;
}
#footer-left {
  justify-content: center; 
  min-width: 512px;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#footer-left p {
  text-align: center;
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
#footer-right {
  text-align: center;
  min-width: 512px;
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
}
/* ---------- Large Tablet ---------- */
@media only screen and (min-width: 1025px) {
#footer-left{
  justify-content: left;
  align-items: end;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#footer-left p {
  text-align: center;
  border: 2px solid var(--dev-outline-3);
}
#footer-right {
  text-align: right;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
}
p {
line-height: 2rem;
}

