/* ---------- ========== Initialization ========== ---------- */
:root {
  --primary-color: rgb(77,93,87);
  --secondary-color: rgb(238,207,73);
  --gray1-color: rgb(51,51,51);
  --gray2-color: rgb(102,102,102);
  --gray3-color: rgb(153,153,153);
  --gray4-color: rgb(204,204,204);

  --gray40-color: rgb(40,40,40);
  --gray60-color: rgb(60,60,60);
  --gray80-color: rgb(80,80,80);
  --gray240-color: rgb(240,240,240);

  --brand-color-sky-blue: #8ECAE6;
  --brand-color-blue-green: #219EBC;
  --brand-color-prussian-blue: #023047;
  --brand-color-selective-yellow: #FFB703;
  --brand-color-ut-orange: #FB8500;

  --radius: 0;
  --max-width: 1080px;

  /*
  --dev-outline-line: 3px;
  --dev-outline-1:red;
  --dev-outline-2: green;
  --dev-outline-3: blue;
  */
}

*, 
*::before, 
*::after { 
  box-sizing: border-box;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--gray1-color);
}
body {
  height: 100%;
  min-height: 100vh;

  background-color: white;
  font-family: 'Courier New', Courier, monospace;

  display: flex;
  flex-direction: column;
}
/* ---------- ========== Initialization End ========== ---------- */

/* ---------- ========== Flex Box Attribute ========== ---------- */
/* ---------- Flex Containers ---------- */
.flex-container-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-container-row-reverse {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
}
.flex-container-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
/* ---------- Flex Item ---------- */
.flex-item {
  flex: 1;
}
/* ---------- ========== Flex Box Attribute End ========== ---------- */

/* ---------- ========== Navbar ========== ---------- */
#navbar {
  height: auto;
  width: 100%;
  background-color: var(--gray40-color);
  
  border: var(--dev-outline-line) solid var(--dev-outline-1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* ---------- Navbar Logo ---------- */
#logo-container {
  margin: 0 5px;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.logo {
  font-size: 3.5rem;
  margin: .25rem .25rem;
  color: var(--gray40-color);
  border: var(--dev-outline-line) solid var(--dev-outline-3);

  transition: all 500ms ease-in;
  animation: pulsate-color-logo 3s 1;
}
.logo:hover {
  color: white;
}
@keyframes pulsate-color-logo {
  0%, 100% {
    color: var(--gray40-color);
    transform: scale(.7);
  }
  50% {
    color: white;
    transform: scale(1);
  }
}
/* ---------- Navbar List ---------- */
.navbar-links {
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.navbar-links ul {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}
.navbar-links li {
  border: var(--dev-outline-line) solid var(--dev-outline-3);

  list-style: none;
  transition: all 200ms ease-in;
}
.navbar-links li a {
  text-decoration: none;
  color: var(--gray4-color);
  padding: 1rem;
  display: block;

  font-size: 1.75rem;
  font-weight: bold;

  transition: all 200ms ease-in;
}
.navbar-links li a:hover {
  color: #FB8500;
}
/* ---------- Nav Toggle ---------- */
.toggle-button {
  position: absolute;
  top: 1.20rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: calc(30px * 1.25);
  height: calc(21px * 1.25);
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--gray4-color);
  border-radius: 10px;
}
/* ---------- Nav Mobile ---------- */
@media only screen and (max-width: 770px)
{
  .toggle-button {
    display:flex;
  }
  .navbar-links {
    display:none;
    width: 100%;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;  
  }
  .navbar-links ul {
    width: 100%; 
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
    width: 100%;

    border: var(--dev-outline-line) solid var(--dev-outline-3);
  }
  .navbar-links li:hover {
    background-color: var(--gray2-color);
  }
  .navbar-links li a {

    font-size: 1.5rem;
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
/* ---------- ========== Navbar End ========== ---------- */

/* ---------- ========== Jumbotron ========== ---------- */
#jumbotron {
  width: auto;
  height: 800px;

  border-radius:var(--radius);

  background-image: url(assets/img-jumbotron.jpg);
  background-size: cover;
  background-position: center;
  
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/* ---------- Jumbotron - Welcome Message & Photo Container ---------- */
#profile-container {
  align-items: center;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
/* ---------- Jumbotron - Welcome Message ---------- */
#profile-name-container {
  padding: 5px;


  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
/* ------ Welcome Message (Standard) ------ */
#welcome-text {
  text-align: center;
  display: inline-block;

  font-size: 3rem;
  color: white;
  
  border: var(--dev-outline-line) solid var(--dev-outline-1);

  transition: all 200ms ease-in;
}
#welcome-text:hover {
  scale: 1.1;
}
/* --- Welcome Message Animation (Standard) --- */
#welcome-text:hover {
  scale: 1.1;
}
/* --- Welcome Message (Animated Each Letters) --- */
.letters-container {
  display: flex;
  justify-content:center;
  flex-grow: 0;

  margin: 0 .5rem;

  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/* --- Each Letter --- */
.welcome-letter {
  font-size: 3rem;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;

  transition: all 500ms ease-in;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
/* Welcome Message Animation (Ea Letters) - Mobile */
@media only screen and (max-width: 770px) {
   /* at the start */
   .welcome-letter:nth-child(n) {
    animation: translate-welcome-text-mobile 3s 1;
  }
  /* Hover */
  #profile-name-container:hover .welcome-letter:nth-child(n) {
    transform: translate(calc(var(--shiftX)/2), calc(var(--shiftY)/2));
    transition: 1.5s;
  }
}
@keyframes translate-welcome-text-mobile {
  0% {
    transform: translate(calc(var(--shiftX)/2), calc(var(--shiftY)/2));
    color: var(--gray4-color);
  }
  100% {
    transform: translate(0px, 0px);
    color: white;
  }
}
/* Welcome Message Animation (Ea Letters) - Desktop */
@media only screen and (min-width: 771px)
{
  /* at the start */
  .welcome-letter:nth-child(n) {
    animation: translate-welcome-text 3s 1;
  }
  /* Hover */
  #profile-name-container:hover .welcome-letter:nth-child(n) {
    transform: translate(var(--shiftX), var(--shiftY));
    transition: 1.5s;
  }
}
@keyframes translate-welcome-text {
  0% {
    transform: translate(var(--shiftX), var(--shiftY));
    color: var(--gray4-color);
  }
  100% {
    transform: translate(0px, 0px);
    color: white;
  }
}
/* ---------- Jumbotron - Photo Container ---------- */
#profile-image-container {
  padding: 5px;
  border: var(--dev-outline-line) solid var(--dev-outline-3);
  justify-content: center;

  animation: pulsate-profile-pic 3s 1;
  transition: all 500ms ease-in;

  filter: grayscale(1);
}
#profile-image-circle {
  width: 250px;
  height: 250px;

  border-radius: 50%;
  border: var(--dev-outline-line) solid var(--dev-outline-1);

  background-image: url(assets/img-profile-pic2.jpg);
  background-size: cover;
  background-position: center;
}
#profile-image-container:hover {
  scale: 1.05;
  filter: grayscale(0);
}

@keyframes pulsate-profile-pic {
  0% {
    opacity: 0%;
    filter: grayscale(0);
  }
  100% {
    opacity: 100%;
    filter: grayscale(1);
  }
}

/* ---------- Jumbotron - Title Roles Container ---------- */
#title-roles-container {
  margin: 1.25rem 0;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#title-roles {
  text-align: center;
  align-items: center;
  list-style-type: none;

  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
#title-roles li {
  display: inline-block;
  margin: 0.35rem .5rem;

  color: white;
  font-size: 1.25rem;
  font-weight: bold;

  /* transition: all 200ms ease-in; */

  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/*
#title-roles li:hover {
  scale: 1.05;
}
*/
.icon-title {
  font-size: 1.35rem;
}
/* ---------- Jumbotron - Social Media Icons Container ---------- */
#icons-link-container {
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#icons-link {
  text-align: center;
  list-style-type: none;
}
#icons-link li {
  display: inline-block;
  margin: 0 5px;
}
.icon-jumbotron {
  color: white;
  font-size: 50px;
}
.icon-jumbotron:hover {
  opacity: 75%;
  scale: 1.2
}
/* ---------- ========== Jumbotron End ========== ---------- */

/* ---------- ========== ////////// Main ////////// ========== ---------- */
#content {
  flex-grow:1;
  display: flex;
  justify-content: center;
}
#content-container {
  max-width: var(--max-width);
  background-color: white;

  padding: 0 1rem;

  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/* ---------- ========== Section Attributes ========== ---------- */
.section-container {
  margin: 1rem 0;
  padding: 1rem 0;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.section-title-heading {
  margin: 2.5rem 0;
  padding: .15rem 0;

  text-align: center;

  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2.25rem;

  color: black;

  border-radius: 1%;

  border-top: 2px solid var(--gray60-color);
  border-bottom: 2px solid var(--gray60-color);
}
/* ---------- ========== Section Attributes End ========== ---------- */

/* ---------- ========== About ========== ---------- */
.about-row {
  margin: 0rem auto;
  max-width: 1000px;

  justify-content: center;
  
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
.about-row-gaps{ 
  margin: 1.5rem auto;
}
#about-row-2 {
  background-color: var(--gray240-color)
}
#about-row2-column1 {
  padding: 1rem;;
}
.about-column {
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
#about-main-text {
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
/* ---------- About Text Container ---------- */
.about-text-container {
  align-items: center;
}
.about-text {
  color: black;

  padding: 1rem 0.5rem;
  text-align: justify;

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
/* ---------- About Image Container ---------- */
.about-image-container {
  max-width: calc(var(--max-width)/ 3.33);

  padding: 1rem;
}
.about-image {
  height: 100%;
  width: 100%;

  filter:grayscale(0); 
  transition: all 1500ms ease-in;
  
  border-radius: 1%;
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
/* About Image Animation */
.about-image:hover {
  transform: rotateY(360deg);
  filter:none;
}
@media only screen and (max-width: 770px) {
  .about-row {
    margin: 0 0; 
    border: var(--dev-outline-line) solid var(--dev-outline-3);
  }
  .about-text {
    text-align: center;
  }
  #about-row-2 {
    flex-direction: column-reverse;
    align-items: center;
  }
  #about-row-3 {
    flex-direction: column;
    align-items: center;
  }
  .about-image-container {
    max-width: 770px;
  }
}
/* ---------- ========== About End ========== ---------- */

/* ---------- ========== Projects ========== ---------- */

/* Project Container Per Row */
.project-container {

  border: var(--dev-outline-line) solid var(--dev-outline-3);
}

/* Each Project Container */
.project {
  max-width: 480px;

  margin: 1rem;
  padding: 2rem;

  border-radius: 2.5%;

  border: 2px solid var(--gray1-color);

  background-color: var(--gray240-color);
  /*
  border: var(--dev-outline-line) solid var(--dev-outline-1);
  */
}
/* ---------- Project Image Container ---------- */
.project-image-container {
  max-width: 270px;
  
  margin: auto;

  border: var(--dev-outline-line) solid var(--dev-outline-2);

  border: 1px solid black;
  transition: all 200ms ease-in;
}
.project-image {
  height: 100%;
  width: 100%;

  object-fit: cover;
  /*
  border-radius: 5%;
  */
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
.project-image-container:hover {
  scale: 1.05;
}
/* ---------- Project Text ---------- */
.project-title {
  text-align: center;
  margin-top: 1rem;
  color: var(--gray1-color);
}
.project-description {
  text-align: center;
  font-style: oblique;
  color: var(--gray1-color);
}
.project-sub-detail {
  width: 100%;
  text-align: left;
  color: var(--gray1-color);
}
/* ---------- Project Complexity ---------- */
.project-complexity {
  width: 100%;
  justify-content: left;
  
  gap: 1.5rem;

  flex-wrap: nowrap;

  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
.project-complexity-container-text {
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.project-complexity-container-icon {
  justify-content: space-around;
  width: 100%;
  flex-wrap: nowrap;
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.project-complexity-text { 
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
.project-complexity-icon { 
  transition: all 200ms ease-in;

  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
.project-complexity-icon:hover { 
  transition: all 200ms ease-in;
  scale: 1.3;
  
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
/* ------ Stars Colors (Gold/Silver/Bronze) ----- */
.complexity-b i{
  color: RGB(139, 69, 19); /* Medium Bronze *//
}
.complexity-s i{
  color: RGB(120,120 ,120); /* Dark Silver *//
}
.complexity-g i{
  color: RGB(205, 149, 12); /* Medium Gold *//
}
/* ------ Stars Colors (Red-to-Green) ----- */
/* Cal Poly Green | Dartmouth Green | Xanthous | Cinnabar | Fire Brick */
/*
.complexity-level-1 i{
  color: #094A25; 
}
.complexity-level-2 i{
  color: #0C6B37;
}
.complexity-level-3 i{
  color: #F8B324;
}
.complexity-level-4 i{
  color: #EB442C; 
}
.complexity-level-5 i{
  color: #094A25; 
}
*/
/* ---------- Project Buttons ---------- */
.project-button-container {
  gap: 1rem;
  margin-top: 1rem;
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
.project-icon-button-container {
  flex-wrap: nowrap;
  border: var(--dev-outline-line) solid var(--dev-outline-2);
  gap: 10px;
}
.project-icon-container {
  border: var(--dev-outline-line) solid var(--dev-outline-3);
  padding: 5px 0;
}
.project-icon {
  font-size: 25px;
  color: var(--gray60-color);
}
/* ---------- Button ---------- */
.btn-primary {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  
  background-color: var(--gray60-color);

  width: auto;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 2.5%;

  cursor: pointer;
  transition: all 200ms ease-in;

  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
.btn-primary:hover {
  background-color: var(--brand-color-sky-blue);
  color: black;
  font-weight: bold;
}
/* ---------- Project Etc ---------- */
#project-10 {
  border: 0px none white;
  background: white;
}
/* ---------- Project Mobile ---------- */
@media only screen and (max-width: 770px) {
  .project-container {
    flex-direction: column;
  }
  #project-10 {
    margin: 0 0;
    padding: 0 0;
  }
  .project {
    margin: 1rem 0;
    padding: 2.5rem 1.5rem;
    
    border-radius: 1%;

    margin-left: auto;
    margin-right: auto;

    max-width: 480px;
  }
}
/* Styles for the contact form */
form label {
  display: block;
  margin-bottom: 5px;
}
form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* ---------- ========== Projects End ========== ---------- */

/* ---------- ========== Return Arrow ========== ---------- */
#return {
  border: var(--dev-outline-line) solid var(--dev-outline-2);
  margin-bottom: 3rem;
}
.arrow {
  font-size: 50px;
  color: var(--gray1-color);

  transition: all 200ms ease-in;
}
.arrow:hover {
  scale: 1.2;
  color: #FB8500;
}
/* ---------- ========== Return Arrow End ========== ---------- */

/* ---------- ========== ////////// Main End ////////// ========== ---------- */

/* ---------- ========== Footer ========== ---------- */
footer {
  color: white;
  background-color: var(--gray40-color);

  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
#footer-container {
  margin: 1rem;

  border-radius:var(--radius);
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
#footer-left {
  justify-content: left;
  align-items: end;

  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
#footer-right {
  border: var(--dev-outline-line) solid var(--dev-outline-3);
}
/* ---------- Footer Texts ---------- */
.footer-text-container {
  align-items: center;
  gap: .30rem;
  border: var(--dev-outline-line) solid var(--dev-outline-1);
}
#footer-right .footer-text-container {
  justify-content: right;
}
.footer-icon {
  font-size: 1.10rem;
  color: var(--gray4-color);

  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.footer-text {
  line-height: 2rem;
  font-weight: normal;
  font-size: 1rem;
  
  border: var(--dev-outline-line) solid var(--dev-outline-2);
}
.footer-text-container a {
  text-decoration: none;
}
/* ---------- Footer Text Color---------- */
footer p,.footer-icon {
  color: var(--gray3-color);
  transition: all 200ms ease-in;
}
footer p:hover {
  color: var(--brand-color-ut-orange);
  font-weight: bold;
}
/* ---------- Footer Mobile ---------- */
@media only screen and (max-width: 770px) {
  #footer-container {
    flex-direction:column-reverse;
  }
  #footer-left {
    justify-content: center; 
    margin-top: 1.5rem;
  }
  #footer-right .footer-text-container {
    justify-content: center;
  }
}
/* ---------- ========== Footer End ========== ---------- */

/* ---------- ========== Others ========== ---------- */
/* ---------- Divider ---------- */
.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc; /* Change this to the desired color */
  margin: 10px 0; /* Adjust margin as needed */
}
.divider-thick {
  width: 100%;
  height: 3px;
  background-color: black; /* Change this to the desired color */
  margin: 20px 0; /* Adjust margin as needed */
  opacity: 25%;
}
.divider-title-roles {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 10px auto; /* Adjust margin as needed */

  opacity: 30%;
}
.divider-dashed {
  width: 100%;
  height: 0;
  border-top: 3px none var(--gray2-color); /* Adjust thickness and color as needed */
  margin: 20px 0; /* Add spacing above and below the divider */
}
/* ---------- Texts ---------- */
.description,.project-sub-detail {
  line-height: 2rem;
  font-size: 1.05rem;
}
.coop {
  color: #3366FF;
}
/*
#about-text-1,#about-text-2,#about-text-4 {
  color: var(--gray80-color);
}
*/
.about-links {
  color: black;
  text-decoration: underline;
  font-weight: bold;

  transition: all 200ms ease-in;
}
.about-links:hover {
  color: var(--brand-color-ut-orange);
}
/* ---------- ========== Others End ========== ---------- */